	* {
		font-family:arial;
	}

	body {
		padding: 30px;
	}

	img {
		padding-bottom: 10px;
	}
	#controls {
		width: 100px;
	}
			
	#controls input[type="range"] {
		clear:both;
		width:100px;
		accent-color: #333;
	}

	input {
		padding: 3px;
	}

	#photo-editor {
		background-color:#000;
		opacity: 0.9;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
	}

	#photo-editor-main {
		background-color:#111;
		border-radius:50px;
		position: absolute;
		top: 100;
		left: 20%;
		padding: 30px;
		display:flex;
	}

	#photo-editor-photo {
		float:left;
	}

	#photo-editor-controls {
		color: #666;
		width: 100px;
		float:left;
		padding-left: 30px;
	}

	#controls input[type="range"] {
		clear:both;
		width:100px;
	}

	#photo-editor-controls select {
		margin-bottom:20px;
	}
